<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h1><%= @restaurant.name %></h1>
          <p><%= @restaurant.address %></p>
          <p><%= @restaurant.phone_number %></p>
          <p><%= @restaurant.category %></p>
          <%= link_to new_restaurant_review_path(@restaurant), class: "btn btn-primary mr-5" do %>
            <i class="fas fa-plus"></i> Add a review
          <% end %>
          <%= link_to restaurants_path do %>
            <i class="fas fa-history"></i> Back to list
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8 mb-5 ">
      <% @restaurant.reviews.each do |review| %>
        <div class="card mb-3">
          <div class="card-body">
            <p><strong class="">Avis <%= review.rating %>/5</strong></p>
            <p class=""><%= review.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
